.card-container {
  width: 200px;
  margin: 10px;
  border-radius: 15px;
}

.stock-symbol {
  text-align: center;
  background-color: #2f4858;
  padding: 5px;
  color: white;
}

.stock-data {
  margin: 0px;
  padding: 5px;
  text-align: center;
  background-color: #33658a;
  border: none;
}

.stock-data p {
  margin: 4px;
  color: white;
}

.stock-data h4 {
  margin: 4px;
}

.stock-data p {
  font-size: 16pt;
}

.stock-value {
  background-color: #33658a;
  text-align: center;
  padding: 5px;
  color: white;
}
