body {
  margin: 0px;
}

.header {
  text-align: center;
  padding: 5px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(81, 29, 253, 1) 100%
  );
  border-radius: 15px;
  margin: 10px;
}

.header {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header h3 {
  font-size: 22pt;
  color: white;
}

.header h5 {
  font-size: 12pt;
  color: white;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
